body {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 250px;
  object-fit: contain;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-item {
  color: whitesmoke;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  margin-left: 50px;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 100px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

section {
  max-width: 400px;
  margin: 0 5%;
  text-align: center;
}

section button {
  background-color: lightskyblue;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 100px;
}

section button a {
  text-decoration: none;
  color: whitesmoke;
}

aside img {
  width: 500px;
  object-fit: contain;
}

footer {
  align-self: center;
}
